@font-face {
    font-family: felipa;
    src: url("C:/Users/Tom/Downloads/felipa (1)/felipa/Felipa-Regular.ttf");
}
body{
    font-family: felipa;
    font-size: 220%;
    background: url("C:/Users/Tom/Desktop/WebPages/Greek_recipes_project/images/cloth3.png") no-repeat;
    background-size: 100% 280%;
}
h1{
    text-align: center;
    background-color: white;
    color: black;
    font-size: 130%;
    margin: 0;
}


a{
    color: #333;
    background-color: #eee;
}

.wrapper{
    display: grid;
    grid-template-columns: 25% 25% 25%; 
    grip-gap: 2em;
    grid-column-gap: 4em;
    grid-column: 1em;
    padding-left: 1%;
}

div h4 a:hover{
    color: #333;
    font-weight: bold;
}

@media(max-width: 768px){
    body{
    font-family: felipa;
    font-size: 220%;
    background: url("C:/Users/Tom/Desktop/WebPages/Greek_recipes_project/images/cloth3.png")no-repeat;
    background-size: 170%;
    background-color: rgba(0,0,0,0.25);
}
 a{
    color: black;
 }
 .wrapper{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: .5em;
    padding-left: 14%;
 }
}
@media(max-width: 568px) {

    body{
    font-family: felipa;
    font-size: 220%;
    background: url("C:/Users/Tom/Desktop/WebPages/Greek_recipes_project/images/cloth3.png");
    background-size: 120%;
    background-color: rgba(0,0,0,0.25);
}
 a{
    color: black;
 }
.wrapper{
 display: block;
 width: 90%;
 padding-left: 8%;
}






}

